@charset "UTF-8";

/* Display para impressão */

* {
    margin: .6em;
    padding: .6em;
}

html {
    font-family:'Courier New', Courier, monospace;
    font-size: 1em;
    line-height: 1.5em;
}

menu {
    display: none;
}

article {
    width: 100%;
}

article::after {
    content: 'Artigo impresso dia 26/09/2024'
}