@charset "UTF-8";

:root {
    --azul-cev: #233eff;
}

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    width: 100vw;
    height: 100vh;
    background-color: var(--azul-cev);
    background-size: contain;
    background-repeat: no-repeat;
}

h1 {
    padding: .6em;
    color: white;
    text-shadow: 2px 2px 0 #1526a7;
}

/* declarações paisagem */
@media screen and (orientation: landscape) {
    body {
            background-image: url('../assets/cev-landscape.jpg');
            background-position: left bottom;
        }
}
/* declarações retrato */
@media screen and (orientation: portrait) {
    body {
            background-image: url('../assets/cev-portrait.jpg');
            background-position: center bottom;
        }
}