@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgray;
}

#cabecalho {
    background-color: gray;
}

.cabecalho-titulo {
    border: 1px dotted black;
}

.cabecalho-subtitulo {
    border: 1px dotted black;
}

#principal {
    background-color: white;
    margin: .6em;
    padding: .6em;
    border-radius: .6em;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.199);
}

.principal-titulo {
    margin: .6em 0;
}

.principal-texto {
    margin: .6em 0;
    line-height: 1.5em;
    text-indent: 1.5em;
    text-align: justify;
}