@charset "UTF-8";

/* Estilo geral */

* {
    margin: 0;
    padding: 0;
}

body {
    font: normal 16px Arial, Helvetica, sans-serif;
    background-color: white;
    color: black;
}

header {
    background-color: gray;
}

header h1 {
    text-align: center;
    padding: 20px 0;
}

header menu {
    padding: 2em;
}

header menu ul {
    list-style-type: none;
}

header menu ul li {
    display: inline-block;
    margin: 0 10px;
    padding: 10px 0;
}

header menu li a {
    background-color: rgb(100, 99, 99);
    color: white;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
}

main {
    padding: 2em;
}

main p {
    margin: 1em; 
    text-indent: 1.5em;
    line-height: 1.5em;
}

article {
    max-width: 600px;
    display: block;
    margin: auto;
}