@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

html, body {
    min-height: 100vh;
    background-color: darkgray;
}

.cabecalho {
    padding: 2.5em 0;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
}

.cabecalho__titulo { 
    font-variant: small-caps;
}

.cabecalho__texto {
    font-variant: small-caps;
}

.link {
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

.link:hover {
    text-decoration: underline;
}

.principal__normal {
    background-color: white;
    color: black;
}

.principal__imagem {
    background-color: black;
    color: white;
}

.rodape {
    padding: 1em 0;
    background-color: black;
    color: white;
    text-align: center;
}