.pai {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;

    flex-basis: 100px;
}

.col1, .col2, .col3 {
    height: 500px;
    width: 400px;
    border: 1px solid black;
}