@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    font: normal 1em Arial, Helvetica, sans-serif;
    background-color: darkgray;
}

header {
    background-color: gray;
    padding: 8px;
    color: white;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    /* border: 1px dotted black; */

    flex: 0 0 200px;
}

nav {
    /* border: 1px dotted black; */

    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}

nav a {
    background-color: black;
    margin: 8px;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    color: white;
    border-radius: 8px;
}

nav a:hover {
    background-color: white;
    color: black;
    transition: .5s;
}

main {
    background-color: white;
    border-radius: 8px;
    padding: 8px;
    margin: 8px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.445);
}

main h2 {
    margin: 8px 0;
    text-indent: 1em;
}

main p {
    text-align: justify;
    text-indent: 1.5em;
    line-height: 1.5em;
    margin: 1em 0
}