@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body, html {
    height: 100vh;
    background-color: whitesmoke;
}

.cabecalho {
    background-color: lightgray;
}

.cabecalho-titulo {
    background-color: red;
    color: white;
    text-align: center;
    padding: 1em;
}

#burguer {
    display: block;
    text-align: center;
    padding: .6em;
    background-color: gray;
    color: white;
    cursor: pointer;
}

#burguer:hover {
    background-color: rgb(156, 153, 153);
}

.cabecalho-menu {
    display: none;
}

.cabecalho-menu-lista {
    list-style-type: none;
}

.cabecalho-menu-lista-item-link {
    display: block;
    padding: .6em;
    text-decoration: none;
    text-align: center;
    background-color: darkgray;
    color: white;
    border-top: 2px solid white;
}

.cabecalho-menu-lista-item-link:hover {
    background-color: gray;
}

.principal {
    width: 90vw;
    background-color: white;
    margin: auto;
    margin-top: .6em;
    margin-bottom: .6em;
    padding: 1.2em;
    border-radius: 1.2em;
}

.principal-artigo-titulo {
    color: goldenrod;
    padding: 1.2em 0;
}

.principal-artigo-subtitulo {
    color: goldenrod;
    padding-bottom: 1.2em;
}

.principal-artigo-texto {
    text-align: justify;
    margin-bottom: 1em;
    text-indent: 1.2em;
}
