@charset "UTF-8";

:root {
    --cinza: #c0c0c0;
    --cinza-escuro: rgb(124, 120, 120);
}

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-color: var(--cinza);
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: var(--cinza-escuro);
}

header h1 {
    padding: 16px 0;
    text-align: center;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.514);
    color: white;
}

main {
    width: 400px;
    display: block;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: white;
    padding: 10px;
    border-radius: 16px;
}

main h2 {
    margin: 10px 0;
}

main p {
    margin: 10px 0;
    text-align: justify;
    line-height: 1.5em;
    text-indent: 1.5em;
}

footer {
    text-align: center;
    color: white;
    background-color: var(--cinza-escuro);
    padding: 10px;
}

footer a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 0 10px;
}

footer a:hover {
    text-decoration: underline;
}