@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-color: #c0c0c0;
    font-family: Arial, Helvetica, sans-serif;
}

.cabecalho-titulo {
    padding: 16px 0;
    text-align: center;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.514);
    color: white;
}

.cabecalho-navegacao {
    display: none;
}

.cabecalho-navegacao-lista {
    list-style-type: none;
}

.cabecalho-navegacao-lista-item-link {
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    background-color: #646363;
    color: white;
    border-top: 1px solid rgb(148, 145, 145);
}

.cabecalho-navegacao-lista-item-link:hover {
    background-color: gray;
}

.burguer {
    display: block;
    text-align: center;
    padding: 10px;
    background-color: #646363;
}

.burguer:hover {
    cursor: pointer;
    background-color: gray;
}

.principal {
    width: 90vw;
    background-color: white;
    margin: auto;
    margin-top: 10px;
    border-radius: 8px;
    padding: 10px;
}

.principal-artigo-titulo {
    padding-bottom: 20px;
}

.principal-artigo-texto {
    text-align: justify;
    text-indent: 1.5em;
    line-height: 1.5em;
    margin-bottom: 1em;
    font-size: 14px;
}