@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

:root {
    --fonte0: Verdana, Geneva, Tahoma, sans-serif;
    --fonte1: 'Passion One', cursive;
    --fonte2: 'Sriracha', cursive;
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    font-family: var(--fonte0);
    min-height: 100vh;
    background-color: darkgray;
}

.cabecalho {
    background-color: black;
    color: white;
    padding: 3em 0;
    text-align: center;
    font-family: var(--fonte1);
}

.cabecalho-titulo {
    font-variant: small-caps;
    font-size: 3.5em;
}

.cabecalho-texto {
    font-variant: small-caps;
    font-size: 1em;
}

.link {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

.link:hover {
    text-decoration: underline;
}

.principal-secao {
    padding: 10vh 0;
    padding-left: 1em;
    line-height: 2em;
    font-family: var(--fonte2);
    font-size: 2em;
}

.principal-secao-texto {
    width: 45%;
    font-size: 18px;
    text-align: justify;
    padding-bottom: 2em;
    text-shadow: 1px 1px 0 black;
}

.principal-secao-normal {
    background-color: white;
    color: black;
}

.principal-secao-decorada {
    background-color: black;
    color: white;
    box-shadow: inset 6px 6px 13px 0 rgba(0, 0, 0, 0.39);
    background-size: cover;
    background-attachment: fixed;
}

#img1 {
    background-image: url('../assets/background001.jpg');
    background-position: right center;
}

#img02 {
    background-image: url('../assets/background002.jpg');
    background-position: right center;
}

.principal-secao-decorada > .principal-secao-texto {
    display: inline-block;
    padding: .3em;
    background-color: rgba(128, 128, 128, 0.247);
}

.rodape {
    background-color: black;
    color: white;
    font-family: var(--fonte1);
    font-weight: lighter;
    padding: .5em 0;
    text-align: center;
}