* {
    margin: 0;
    padding: 0;
}

html, body {
    min-height: 100vh;
    background-color: darkgray;
}

.cabecalho {
    background-color: black;
    color: white;
    padding: 3em 0;
    text-align: center;
}

.cabecalho-titulo {
    font-variant: small-caps;
}

.cabecalho-texto {
    font-variant: small-caps;
}

.link {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

.link:hover {
    text-decoration: underline;
}

.principal-secao {
    padding: 10vh 0;
    padding-left: 2em;
    line-height: 2em;
}

.principal-secao-normal {
    background-color: white;
    color: black;
}

.principal-secao-decorada {
    background-color: rgb(51, 51, 51);
    color: white;
}

.principal-secao-decorada > .principal-secao-texto {
    width: 50%;
    background-color: rgba(0, 0, 0, 0.253);
}

.rodape {
    background-color: black;
    color: white;
    padding: .5em 0;
    text-align: center;
}
