* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font: normal 1em Arial, Helvetica, sans-serif;
}

header, footer {
    text-align: center;
    padding: 1.5em;
    background-color: black;
    color: white;
}

footer a {
    text-decoration: none;
    font-weight: bold;
    color: white;
}

footer a:hover {
    color: #0000ff;
}

#album {
    display: flex;
    flex-flow: row wrap;
}

.coluna {
    border: 2px dashed red;
    flex: 1 1 100%;
    padding: 0 5px;
}

main img {
    width: 100%;
    padding-bottom: 10px;
}